absl-py==2.3.1
attrs==25.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
contourpy==1.3.2
cvzone==1.6.1
cycler==0.12.1
dronekit==2.9.2
dronekit-sitl==3.3.0
easyocr==1.7.2
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.58.1
fsspec==2025.5.1
future==1.0.0
idna==3.10
imageio==2.37.0
jax==0.7.0
jaxlib==0.7.0
Jinja2==3.1.6
kiwisolver==1.4.8
lazy_loader==0.4
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.10.3
mediapipe==0.10.21
ml_dtypes==0.5.3
monotonic==1.6
mpmath==1.3.0
networkx==3.5
ninja==1.13.0
numpy==2.2.6
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.12.0.88
openlocationcode==1.0.1
opt_einsum==3.4.0
packaging==25.0
pandas==2.2.3
pillow==11.2.1
protobuf==4.25.8
psutil==7.0.0
py-cpuinfo==9.0.0
pyclipper==1.3.0.post6
pycparser==2.22
pymavlink==2.4.47
pyparsing==3.2.3
pytesseract==0.3.13
python-bidi==0.6.6
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
scikit-image==0.25.2
scipy==1.15.3
sentencepiece==0.2.0
setuptools==80.9.0
shapely==2.1.1
six==1.17.0
sounddevice==0.5.2
sympy==1.14.0
tifffile==2025.6.11
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
ultralytics==8.3.148
ultralytics-thop==2.0.14
urllib3==2.4.0
wheel==0.45.1
